In [1]:
a = 'leetcode'

In [5]:
a.count('e')

3

In [11]:
list(a)

['l', 'e', 'e', 't', 'c', 'o', 'd', 'e']

In [18]:
list(map(lambda x: a.count(x), a))

[1, 3, 3, 1, 1, 1, 1, 3]

In [20]:
sorted(a)

['c', 'd', 'e', 'e', 'e', 'l', 'o', 't']

In [21]:
dic1 = {"a": 1, "b" : 2}

In [22]:
dic2 = {"b" : 2, "a": 1}

In [25]:
dic1 == dic2

True

In [27]:
dic1.get('a',0)

1

In [147]:
a = [1,1,1,2,3,4]

In [32]:
a.remove(1)

In [36]:
a.count(2)

1

In [40]:
a.append(0*2)

In [43]:
a

[2, 3, 4, [0, 0], [0, 0], 0]

In [47]:
for a in 'abcde':
    print (a)

a
b
c
d
e

In [51]:
ord('Z')

90

In [56]:
26 ** (2-1)

26

In [58]:
txt = 'leetcode'

In [61]:
txt_set = set(txt)
for i in txt_set:
    print(i)
    
list(map(lambda x: txt.count(x), txt))

d
e
o
c
l
t

[1, 3, 3, 1, 1, 1, 1, 3]

In [63]:
list(map(lambda x: txt.count(x), txt)).index(1)

0

In [66]:
for i in set(txt):
    print(i)

d
e
o
c
l
t

In [70]:
list(txt).count("e")

3

In [74]:
set([1,2,3,4,4,5]) & set([2,4,5])

{2, 4, 5}

In [85]:
import collections
c = collections.Counter(txt)
list(c.elements())

['l', 'e', 'e', 'e', 't', 'c', 'o', 'd']

In [89]:
xml_data = '''<?xml version="1.0"?>
<students>
	<student name="John">
		<grade value="88" />
	</student>
	<student name="Kate">
		<grade value="93" />
	</student>
	<student name="Harry">
		<grade value="93" />
	</student>
	<student name="Linda">
		<grade value="87" />
	</student>
	<student name="Harriet">
		<grade value="91" />
	</student>
</students>'''

In [91]:
xmltest = open("xmltest.xml", "wt")

In [92]:
xmltest.write(xml_data)

339

In [93]:
xmltest.close()

In [96]:
from xml.etree import ElementTree
tree = ElementTree.ElementTree(file = "xmltest.xml")
root= tree.getroot()

In [100]:
print(root.tag)

students

In [104]:
for child in root:
    print (child.tag, child.attrib)
    
    for grandchild in child:
        print (grandchild.tag, grandchild.attrib)

student {'name': 'John'}
grade {'value': '88'}
student {'name': 'Kate'}
grade {'value': '93'}
student {'name': 'Harry'}
grade {'value': '93'}
student {'name': 'Linda'}
grade {'value': '87'}
student {'name': 'Harriet'}
grade {'value': '91'}

In [105]:
json_data = '''{
	"students": {
		
		"John": {
			"grades": [88]
		},

		"Kate": {
			"grades": [93]
		},

		"Harry": {
			"grades": [93]
		},

		"Linda": {
			"grades": [87]
		},

		"Harriet": {
			"grades": [91]
		}
	}
}'''

json_data_file = open('grades.json', 'wt')
json_data_file.write(json_data)
json_data_file.close()

In [107]:
import json

In [109]:
json_data_file = open('grades.json', 'rt')

In [111]:
json_data = json.loads(json_data_file.read())

In [112]:
json_data_file.close()

In [114]:
print(json_data)

{'students': {'John': {'grades': [88]}, 'Kate': {'grades': [93]}, 'Harry': {'grades': [93]}, 'Linda': {'grades': [87]}, 'Harriet': {'grades': [91]}}}

In [119]:
print(json_data['students']['John']['grades'])

[88]

In [121]:
[1,2,3].index(4)

ValueError: 4 is not in list

In [123]:
[1,2,3,4].remove(4)

In [124]:
dic = {1:2, 2:3}

In [127]:
3 in dic

False

In [132]:
line = ' HAHA What a surprise,man '

In [133]:
import re
subline = re.sub( r'^\W+|\W+$', '', line )

In [134]:
subline

'HAHA What a surprise,man'

In [146]:
pattern = re.compile('\w{4}')
result = pattern.findall(line)
print(result)

['HAHA', 'What', 'surp', 'rise']

In [1]:
list(enumerate(a))

NameError: name 'a' is not defined

In [17]:
a = [1, 2, 3, 4]

In [5]:
max(a)

4

In [7]:
a = [[1,2], [2,3], [3,4]]

In [8]:
[sum(x) for x in a]

[3, 5, 7]

In [9]:
b = [sum(x) for x in a]

In [14]:
b.index(max(b))

2

In [15]:
c = [2,5,8,7]

In [19]:
sorted(list(set(a+c)))

[1, 2, 3, 4, 5, 7, 8]

In [27]:
ord('[')

91

In [34]:
for i in range(0,3,2):
    print(i)

0
2

In [32]:
list = ['[', ']','{','}','(',')']

In [33]:
[ord(x) for x in list]

[91, 93, 123, 125, 40, 41]

In [35]:
1 in [1,2]

True

In [37]:
x = 123

In [58]:
text = 'abc'

In [59]:
a = list(text)

In [60]:
a

['a', 'b', 'c']

In [63]:
b = 21

In [64]:
t = '0123400'

In [66]:
t.strip('0')

'1234'

In [68]:
t_1 = '-1234'

In [72]:
t_1 = '123450'

In [76]:
11 // 2

5

In [83]:
import math
math.factorial(5)

120

In [87]:
x = set()

In [90]:
x.add(1)

In [96]:
def isPowerOfThree(n):
    """
    :type n: int
    :rtype: bool
    """
    if n < 1:
        return False
    if n == 1:
        return True
    if n > 1:
        return isPowerOfThree(n/3)

In [102]:
isPowerOfThree(169)

False

In [104]:
dict1 = {1:10}
dict2 = {1:10}
dict3 = {1:20}

In [111]:
10 in dict1.values()

True

In [118]:
for i in range(3,3):
    print (i)

In [119]:
dic = {1:3, 2:4, 3:5}

In [122]:
a = [1, 2, 3, 4, 4, 5, 5, 5]

In [3]:
import collections
collections.Counter(a).most_common(2)

NameError: name 'a' is not defined

In [5]:
txt = 'To be or not to be, that is a question'

In [8]:
txt.split(' ')

['To', 'be', 'or', 'not', 'to', 'be,', 'that', 'is', 'a', 'question']

Python Algorithm: check number of primes less than n

In [28]:
def isprime(num):
    prime = True
    for i in range(2,num):
        #print("checking potential factor:",i)
        if num % i == 0:
            prime = False
            break
    return prime

def check_num_primes(n):

    if n in (0, 1):
        return 0

    else:
        count = 0
        for num in range(2,n):
            if isprime(num) == True:
                count += 1
    
    return count

In [31]:
check_num_primes(11)

4

In [33]:
a.isprime(11)

True

In [35]:
[True, False, True]

[True, False, True]

In [38]:
sum([True, False, True])

2

In [40]:
a = list(range(10))

In [42]:
a[0:4:2]

[0, 2]

In [59]:
def maxAreaOfIsland(grid):
    """
    :type grid: List[List[int]]
    :rtype: int
    """
    m,n = len(grid), len(grid[0])

    def area(i, j):
        if 0 <= i < m and 0 <= j < n and grid[i][j]:
            grid[i][j] = 0
            return 1 + area(i, j-1) + area(i, j+1) + area(i+1, j) + area(i-1, j)
        else:
            return 0

    maxarea = [area(i, j) for i in range(m) for j in range(n) if grid[i][j]]

    return maxarea

In [60]:
t = [[0,0,1,0], [0,1,1,0]]

In [62]:
maxAreaOfIsland(t)

[]

In [64]:
test = [1,2,3]

In [71]:
try:
    print(test[3])
except:
    print(0)

0

In [2]:
test = []
if test:
    print (1)
else:
    print (2)

2

In [27]:
matrix = [
    [1,1,1,1,1,0,0,0],
    [1,1,1,1,1,0,0,0],
    [1,1,1,1,0,0,0,0],
    [1,1,1,1,1,1,0,0],
    [1,1,1,1,1,0,0,0],
    [1,1,0,0,0,0,0,0],
    [1,1,1,1,1,0,0,0]
]

In [9]:
def find_max_list (x):
    '''
    '''
    num_list = [sum(i) for i in x]
    return num_list.index(max(num_list))

In [24]:
%timeit find_max_list(matrix)

2.94 µs ± 138 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [25]:
def find_max_list2 (x):
    pointer = sum(x[0]) - 1
    index = 0
    for i in range(1, len(x)):
        if x[i][pointer] == 1 and pointer + 1 <= len(x[0]): 
            pointer = sum(x[i]) - 1
            index = i
    return index

In [28]:
%timeit find_max_list2(matrix)

2.63 µs ± 96.3 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [30]:
import numpy as np
import pandas as pd

In [33]:
a = np.arange(1,7)
b = np.arange(1,7)

In [47]:
df1 = pd.DataFrame(a)

In [49]:
df1["key"] = 0

In [51]:
df2 = pd.DataFrame(b)

In [52]:
df2["key"] = 0

In [69]:
df3 = pd.merge(df1, df2, on = "key").drop("key", axis = 1)

In [71]:
col = ["dice_1", "dice_2"]

In [75]:
df3.columns = col

In [79]:
df3["dice_sum"] = df3.dice_1 + df3.dice_2

In [85]:
df3.dice_sum.value_counts()

7     6
8     5
6     5
9     4
5     4
10    3
4     3
11    2
3     2
12    1
2     1
Name: dice_sum, dtype: int64

In [88]:
df3.groupby("dice_sum").count()

          dice_1  dice_2
dice_sum
2              1       1
3              2       2
4              3       3
5              4       4
6              5       5
7              6       6
8              5       5
9              4       4
10             3       3
11             2       2
12             1       1

In [95]:
def factorial(num):
    if num == 1:
        return 1
    else:
        return num * factorial(num - 1)

In [99]:
factorial(12)

479001600

In [101]:
import math

In [103]:
math.factorial(12)

479001600

In [13]:
a = [1, 2, 3, 4, 4, 7, 6, 7, 5, 1,2]

In [112]:
for x, y in enumerate(a):
    if y == max(a):
        print(x)

5
7

In [2]:
a.index(max(a))

NameError: name 'a' is not defined

In [21]:
import collections
collections.Counter(a).most_common(2)

[(1, 2), (2, 2)]

In [22]:
collections.defaultdict(a)

TypeError: first argument must be callable or None

In [75]:
dict = {1:2, 2:3}
list(dict.values())

[2, 3]

In [27]:
min([(1,1), (0, -5), (0, -4)])

(0, -5)

In [29]:
a = list(range(20))

In [35]:
dict((x, y) for x, y in zip(a, [abs(x) for x in a]))

TypeError: 'dict' object is not callable

In [38]:
b = [(1, 'a'), (2, 'b')]

In [46]:
{x:y for x, y in b}

{1: 'a', 2: 'b'}

In [69]:
json_data = '''{
	"students": {
		
		"John": {
			"grades": [88]
		},

		"Kate": {
			"grades": [93]
		},

		"Harry": {
			"grades": [93]
		},

		"Linda": {
			"grades": [87]
		},

		"Harriet": {
			"grades": [91]
		}
	}
}'''

json_data_file = open('grades.json', 'wt')
json_data_file.write(json_data)
json_data_file.close()

In [73]:
import json
json_data_file = open("grades.json", "rt")
json_data = json.loads(json_data_file.read())
json_data_file.close()

In [71]:
json_data['students']['Harry']['grades'] = [94]

In [83]:
json_data

{'students': {'Harriet': {'grades': [91]},
  'Harry': {'grades': [93]},
  'John': {'grades': [88]},
  'Kate': {'grades': [93]},
  'Linda': {'grades': [87]}}}

In [93]:
json_data['students'].keys()

dict_keys(['John', 'Kate', 'Harry', 'Linda', 'Harriet'])

In [94]:
dict.keys()

dict_keys([1, 2])

In [103]:
csv_data = []
for name in json_data['students'].keys():
    csv_data.append([name, json_data['students'][name]['grades'][0]])

In [113]:
csv_data

[['John', 88], ['Kate', 93], ['Harry', 93], ['Linda', 87], ['Harriet', 91]]

In [111]:
import csv
grades_csv = open("grades.csv", 'wt')
csvout = csv.writer(grades_csv)
csvout.writerows(csv_data)

grades_csv.close()

In [112]:
!cat grades.csv